


.Parra1 {

    font-size: 3rem;
    font-weight: 700;
    color: #2980b9;
    text-align: left;
    margin-left: 6rem;
    margin-top: 3rem;

}

.PH3 {

    font-size: 2rem;
    text-align: left;
    margin-left: 6rem;
    max-width:  92rem;
    margin-bottom: 4rem;

}



.calendariofarmacosf  {

    margin-top: 3rem;
    margin-left: -45rem;

}
