

.Parra1 {

    font-size: 3rem;
    font-weight: 700;
    color: #2980b9;
    text-align: left;
    margin-left: 6rem;
    margin-top: 3rem;

}

.Parra2 {

    font-size: 2rem;
    text-align: left;
    margin-left: 6rem;
    max-width:  99rem;

}


