


.tertiary-bar {
  background-color: #e0f2f1;
  padding: 20px 15px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.bar-button {
  background: none;
  border: none;
  font-size: 16px;
  color: #2980b9;
  cursor: pointer;
  font-weight: bold;
}

.bar-button:hover {
  color: #004d40;

}
