

.NavBarEx2 {
  display: flex;             /* 🔥 Necesario para que funcione gap */
  font-weight: 700;
  white-space: nowrap;
  background-color: #e0f2f1;
  font-size: 1.2rem;
  gap: 8rem;
  padding: 1.2rem;
  padding-left: 11rem;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  
  .NavBarEx2 {
    gap: 2rem;
    height: 21rem;
    padding-top: 1rem;
    
  }
  
  .bar-button11 {

    font-size: 1.35rem;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: -2rem;

  }


  .bar-button12 {

    font-size: 1.35rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
    margin-top: 0rem;
    margin-left: -1rem;

  }


    .bar-button13 {

    font-size: 1.35rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
    margin-top: 0rem;
    margin-left: -1rem;

  }


    .bar-button14 {

    font-size: 1.35rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
    margin-top: 0rem;
    margin-left: -1rem;

  }

}