.secondary-bar {
  display: flex;
  flex-wrap: wrap;          /* 🔑 evita solapamiento */
  gap: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: #2980b9;
  white-space: nowrap;
  
}

.bar-button {
font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;      /* evita cortes */
}



/* 📱 MOBILE */
@media (max-width: 768px) {
  .secondary-bar {
    justify-content: center;
  }

  .bar-button1 {
    font-size: 1.35rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
  }

  .bar-button2 {
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    font-size: 1.35rem;
    white-space: nowrap;
    text-align: center;
  }


  .bar-button3 {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
  }

  .bar-button4 {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2980b9;
    white-space: nowrap;
  }



}
