

.ea-container {
  max-width: 1400px;
}

/* Título principal */
.title-main {
  font-size: 3.5rem;
  font-weight: 700;
  color: #2980b9;
  margin-left: 2rem;
  margin-top: 3rem;
}

/* Secciones */
.title-section {
  font-size: 3rem;
  font-weight: 700;
  color: #2980b9;
  margin-left: 4rem;
}

/* Texto */
.text-body {
  font-size: 2.1rem;
  line-height: 1.8;
  text-align: justify;
  margin: 0 3rem 5rem 3rem;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .title-main {
    font-size: 2.6rem;
  }

  .title-section {
    font-size: 2.2rem;
    text-align: center;
    margin-left: 0;
  }

  .text-body {
    font-size: 1.6rem;
  }
}

/* Móvil */
@media screen and (max-width: 768px) {
  .title-main {
    font-size: 2.4rem;
    text-align: center;
  }

  .title-section {
    font-size: 2.3rem;
    text-align: center;
    margin-left: 0;
  }

  .text-body {
    font-size: 1.6rem;
  }
}
