



.p139 {

    margin-top: 4rem;
    font-size: 3.5rem;
    margin-left: 6rem;
    font-weight: 700;
    color: #2980b9;

}

.p40 { 

    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 3rem;
    font-weight: 600;
    color: #2980b9;

}


.p41 { 

    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 3rem;
    font-weight: 600;
    color: #2980b9;

}

.p42 { 

    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 3rem;
    font-weight: 600;
    color: #2980b9;

}



/* 📱 Mobile */
@media (max-width: 768px) {

    .p139 {
        margin-left: 3rem;

    } 

    .p40 { 
        width:27rem;
        margin-left: 3rem;
    }

    .p41 {
        margin-left: 3rem;
    }

    .p42 {
        margin-left: 3rem;
        width: 22rem;
    }
    
}
