.hidratacion-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 6rem;
}

.text-content {
  flex: 1;
}

.title {
  color: #2980b9;
  font-weight: 700;
  font-size: 3.7rem;
  width: 42rem;
  margin: 0 2rem 2rem 2rem;
  margin-top: 3rem;
}

.p11 {
  font-size: 2rem;
  width: 43rem;
  margin-left: 3rem;
}

.contador-agua {
  margin-top: 2rem;
  text-align: center;
  width: 40rem;
  max-width: 100%;
  background-color: #f0f8ff;
  padding: 15px;
  border-radius: 10px;
  height: 40rem;
}

.input-personalizado {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input-personalizado input {
  width: 60px;
  padding: 5px;
}


@media (max-width: 480px) {

  .hidratacion-container {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
  }

  .title {
    width: 27rem;
    font-size: 2.94rem !important ;
    margin: 1rem 0;
    text-align: center;
  }

  .p11 {
    width: 90%;
    font-size: 1.6rem;
    margin: 0;
    text-align: justify;
    margin-left: 1.8rem;

  }

  .contador-agua {
    width: 95%;
    height: auto;
    margin-right: 0;
    margin-left: 1rem;
  }

  .input-personalizado {
    flex-direction: column;
    align-items: center;
  }

  .input-personalizado input {
    width: 100%;
    max-width: 200px;
  }
}
