

.hidratacion-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-left: 5rem;
}

.text-content {
  flex: 1;
}

h2 {
  color: #2980b9;
  margin-bottom: 2rem;
  font-weight: 700;
}

.p11 {
    font-size: 1.8rem;
    max-width: 850px;
}

.h31 {
    font-weight: 700;
    margin-bottom: 3rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 8rem;
}

.contador-agua {
  margin-top: 2rem;
  text-align: center;
  max-width: 1400px;
  width: 500px;
  background-color: #f0f8ff;
  padding: 15px;
  border-radius: 10px;
  margin-right: 3rem;
  height: 550px;
}

.contador-agua button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contador-agua button:hover {
  background-color: #2980b9;
}

.p3 {
  font-weight: 700;
}

.vaso {
  font-size: 1.5rem;
  font-weight: 700;

}

.ml {

  font-weight: 700;

}

.reiniciar {

  font-weight: 700;
}


.input-personalizado {
  margin: 5px 140px;
}

.input-personalizado input {
  width: 50x;
  padding: 5px;
  margin-right: 10px;
}



