/* src/components/Login.css */

.login-container {
  width: 90%;
  max-width: 400px;
  margin: 6rem auto;
  padding: 2.5rem 1.5rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box; /* importante para que padding no afecte tamaño */
}



/* Título adaptable según pantalla */
.login-title {
  color: #2980b9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
  margin-bottom: 2rem;
}

/* Inputs y botón */
form {
  width: 23rem;
 }

.Email,
.Contraseña {
  margin-bottom: 1.5rem;
  width: 20rem;
  height: 30rem;
 
}

.Boton19 {
  background-color: #2980b9 !important; 
  font-weight: 700;
  text-transform: none;
  padding: 0.75rem 0;
  transition: background-color 0.3s ease;
}

.Boton1:hover {
  background-color: #1c6396;
}

 
