

.Registro-container {
  max-width: 420px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 55rem;
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
.MuiInputBase-root {
  background-color: #f9f9f9;
  /* Elimina margenes fijos */
  margin-left: 0 !important;
  width: 100% !important;
}

.MuiFormControl-root {
  width: 100% !important;
  margin-left: 0 !important;
}

button {
  text-transform: none;
  width: 100% !important;
}

.buton1  {

  width: 24rem;

}


/* Mensajes de éxito o error */
p {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Media Query para pantallas muy pequeñas */
@media (max-width: 450px) {
  .Registro-container {
    margin: 1rem;
    padding: 1rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 27rem;
  }

  .Registro-title {
    font-size: 3.5rem !important;
    font-weight: 700;
    
  }

  .buton1 { 
    width: 25rem;
  }
}
