/* ==========================
   Estilos generales (PC)
========================== */
.sueno-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.p137 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #2980b9;
    margin-top: 3rem;
}

.p147 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #2980b9;
}

.p167 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2rem;
}

.p157 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: justify;
    line-height: 1.8;
    margin-left: 2rem !important ;
    margin-right: 2rem !important ;
}

/* ==========================
   Tablas
========================== */
.sueno-container table {
    width: 90%;
    border-collapse: collapse;
    margin: 2rem 0;
    margin-right: 4rem !important;
    margin-left: 2rem;
    font-size: 1.5rem;

}

.sueno-container th,
.sueno-container td {
    border: 1px solid #ddd;
    padding: 8px;
}

.sueno-container th {
    background-color: #f2f2f2;
    font-weight: 600;
    text-align: left;
}

/* ==========================
   Media Queries
========================== */
@media screen and (max-width: 1024px) {
    .p137 {
        font-size: 3.2rem;
        margin-left: 2rem;
    }

    .p147, .p167 {
        font-size: 2.3rem;
        margin-left: 2rem;
    }

    .p157 {
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .sueno-container {
        padding: 1.5rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .sueno-container {
        padding: 1rem;
    }

    .sueno-container table {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 480px) {
    .sueno-container table {
        font-size: 1.2rem;
    }
}
